:root {
  /* --main-color: #0d1b1e; */
  --main-color: white;
  /* --secondary-color: rgb(255, 255, 196); */
  --secondary-color: #0bbf64;
  --main-dark: hsl(220, 40%, 95%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: grey;
}

body {
  background-color: var(--main-color);
  color: black;
  /* font-family: 'Bruno Ace SC', cursive; */
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* INTRO ANIMATION */
#first-screen * {
  color: var(--secondary-color);
}

#first-screen {
  background-color: var(--main-color);
  font-size: 2rem;
  font-family: "Bruno Ace SC", cursive;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.first-p {
  position: absolute;
  transform: translateX(-22px);
}

.second-p {
  display: none;
  position: absolute;
  opacity: 1;
  transform: translateX(-40px);
}

.third-p {
  transform: translateX(10px);
}

.fourth-p {
  display: none;
  position: absolute;
  transform: translateX(83px);
}

.anim {
  animation: show 0.5s ease;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ----------------------------- */

main {
  padding-top: 5rem;
}

main,
#first-screen,
#first-screen * {
  transition: 1s all;
}

#destaques-text,
#destaques > div {
  transition: 2s all;
}

nav {
  background-color: var(--main-color);
  height: 5rem;
  margin-bottom: 5rem;
  font-weight: 500;
  opacity: 0.9;
  letter-spacing: 1px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: all 1s;
}

nav img {
  position: absolute;
  left: 1rem;
  width: 10rem;
}

.sticky {
  position: fixed;
}

#home {
  height: 100vh;
  font-weight: 500;
  font-size: 22px;
  padding: 0 15rem 0 15rem;
  flex-direction: row-reverse;
}

nav,
ul,
#home,
#pic,
#first-screen,
#contato,
main > a,
footer,
footer div,
footer a,
footer section {
  align-items: center;
  display: flex;
  justify-content: center;
}

ul {
  cursor: pointer;
  justify-content: space-evenly;
  width: 50%;
}

li {
  font-size: 1.3rem;
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: var(--secondary-color);
}

/* HOME */

main,
main > div {
  width: 100%;
}

#bio {
  margin-bottom: 7rem;
  padding-left: 5rem;
  width: 50%;
}

#bio h1 {
  font-family: "Bruno Ace SC", cursive;
  font-size: 2.8rem;
  padding-left: 1rem;
}

#bio h2 {
  color: var(--secondary-color);
  margin-bottom: 5rem;
  padding-left: 8rem;
}

#bio p {
  letter-spacing: 0.05rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  width: 75%;
}

#bio span {
  color: var(--secondary-color);
}

#bio p a {
  color: var(--secondary-color);
  text-decoration: none;
}

#pic {
  width: 50%;
  padding-left: 5rem;
  padding-top: 1rem;
}

#pic img {
  width: 70%;
  padding-bottom: 15rem;
}

main > h2 {
  color: var(--secondary-color);
  font-size: 5rem;
  text-align: start;
  font-weight: 200;
  padding-left: 16.5%;
  padding-top: 1rem;
}

/* destaques */

#destaques-text {
  background-color: var(--main-dark);
  padding-top: 5rem;
  padding-bottom: 3rem;
}

#destaques {
  background-color: var(--main-dark);
  display: flex;
  flex-wrap: wrap;
}

#destaques > div {
  /* background: hsl(220, 40%, 90%); */
  font-weight: 500;
  border-radius: 10px;
  min-height: 25rem;
  padding: 0 5rem 0 5rem;
  min-width: 10rem;
  max-width: 30rem;
  margin-bottom: 6rem;
  opacity: 0;
}

#destaques div .center {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#destaques div h2 {
  color: var(--secondary-color);
  text-align: start;
  font-weight: 500;
}

#destaques div a {
  color: var(--secondary-color);
}

#destaques img {
  border-radius: 10px;
  width: 20rem;
  filter: grayscale(1) brightness(0.8);
  transition: filter 1s;
}

#destaques div:hover img {
  filter: grayscale(0) brightness(1);
}
/* 
#destaques > div:hover {
  transform: scale(1.1);
} */

#destaques div * {
  padding: 0.3rem;
}

#destaques div a {
  font-weight: 500;
  text-decoration: underline;
}

/* _-_-_-_-_-_ */

main > img {
  height: 100px;
  width: 100px;
}

main > a p {
  color: black;
  border: 1px solid black;
  border-radius: 1rem;
  display: inline;
  font-size: 2rem;
  font-weight: 800;
  margin-right: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  transition: all 1s;
}

main > a:hover img {
  animation: slide 1s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0rem);
  }
  100% {
    transform: translateX(1rem);
  }
}

/* ---------------------------------- */

#contato-text {
  padding-top: 4rem;
}

#contato {
  display: flex;
  flex-direction: column;
  padding: 5rem 20rem 5rem 20rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

input,
textarea {
  border: 1px solid;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 1rem;
  resize: none;
}

input[type="submit"] {
  border: 1px solid;
  border-radius: 1rem;
  margin: 2rem;
  font-size: 1.3rem;
  padding: 1rem;
  width: 20rem;
}

input[type="submit"]:active {
  filter: brightness(0.9);
}

#msg {
  display: none;
}

/* ------------------------------ */

footer {
  background-color: var(--secondary-color);
  color: white;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

footer section {
  justify-content: space-evenly;
  width: 100%;
}

footer section:nth-child(2) {
  margin-top: 2rem;
}

footer section:nth-child(2) img {
  width: 4rem;
}

footer div {
  height: 100%;
  flex-direction: column;
}

footer #social a {
  border-radius: 0.2rem;
  justify-content: start;
  padding: 0.3rem;
  margin-top: 1rem;
  width: 8rem;
}

footer a {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
}

footer div img {
  width: 1rem;
  margin: 0 0.2rem 0 0.5rem;
}

footer p {
  margin-top: 2.3rem;
}

/* ___________________________________ */

@media only screen and (max-width: 1100px) {
  #home {
    justify-content: flex-end;
    flex-direction: column-reverse;
    height: 110vh;
    padding: 0 5rem 0 5rem;
  }
  #pic,
  #pic img {
    padding: 0;
  }
  #pic {
    width: 70%;
  }
  #bio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 0;
    padding: 2rem 0 0 0;
    text-align: start;
    width: 100%;
  }
  #bio p {
    width: 80%;
  }
  #contato {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  ul {
    width: 90vw;
  }
  li {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1420px) {
  #bio {
    width: 60%;
  }
  #bio p {
    line-height: 2rem;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }
  #pic {
    padding: 5rem 0 0 0;
  }
  #destaques {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 700px) {
  nav img {
    width: 2rem;
  }
  #home {
    padding: 0;
  }
  #bio,
  #pic {
    width: 90%;
  }
  #contato {
    padding: 3rem;
  }
  #contato-text {
    font-size: 3.5rem;
    padding: 1rem;
  }
  #destaques-text {
    font-size: 3.5rem;
    padding: 1rem;
  }
  #destaques {
    padding: 0;
  }
  #destaques > div {
    padding: 0;
    width: 20rem;
  }
  main > a p {
    font-size: 1.5rem;
  }
  footer section:nth-child(1) {
    flex-direction: column;
  }
  footer section:nth-child(1) #social {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 400px) {
  #first-screen {
    padding-right: 3rem;
  }
}
